@page "/"

<div style="text-align: center;">
  <div class="block" style="margin:8px; width:47%; display: inline-block;">
      <a href="products/1">
        <img src="../image/WomenPoster.jpg" style="width:100%;" alt="WomenPoster">
      </a>
  </div>
  <div class="block" style="margin:8px; width:47%; height:auto; display: inline-block;">
      <a href="products/2">
        <img src="../image/ManPoster.jpg" style="width:100%;" alt="ManPoster">
      </a>
  </div>
</div>

<div style="background:black; height:5px; width:100%"></div>

<div style="text-align: center;">
  <div class="block" style="display: inline-block; margin: 8px; width:23%;">
      <a href="products/1">
        <img src="../image/NewPoster.jpg" style="width:100%;" alt="NewPoster">
      </a>
  </div>
  <div class="block" style="display: inline-block; margin: 8px; width:23%;">
      <a href="products/4">
        <img src="../image/OldCollectionPoster.jpg" style="width:100%;" alt="OldCollectionPoster">
      </a>
  </div>
  <div class="block" style="display: inline-block; margin: 8px; width:23%;">
      <a href="products/2">
        <img src="../image/CollectionPoster.jpg" style="width:100%;" alt="CollectionPoster">
      </a>
  </div>
  <div class="block" style="display: inline-block; margin: 8px; width:23%;">
      <a href="products/2">
        <img src="../image/SportPoster.jpg" style="width:100%;" alt="NewPoster">
      </a>
  </div>
</div>

<div style="background:black; height:10px; width:100%"></div>

<div>
  <div class="block" style="display: inline-block; margin: 8px; width:70%;">
      <img src="../image/ShopPoster.png" style="width:100%;" alt="ShopPoster">
  </div>
  <div class="block" style="display: inline-block; margin: 8px;">
      <span><b>Контакты</b></span>
      <br>
      <span>+7 000 000-00-00</span>
      <br>
      <span>пн-пт 10:00-19:00</span>
      <br>
      <span>suportemail@email.com</span>
  </div>
</div>
